@charset "UTF-8";

body {
    background-color: rgb(147, 247, 192);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(36, 68, 50);
}

h1#principal {
    text-align: center;
    background-color: rgb(36, 68, 50);
    color: #fff;
}

h2 {
    color:rgb(52, 150, 94);
}

.basico {
    color:green;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgb(252, 252, 168);
}