@charset "UTF-8";

.box-top,
.box-down {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.container-text,
.container-text-2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-text-2 {
    width: calc(100% / 2);
}